.theme-dark {
    --background-mentioned: rgba(0, 0, 0, 0) !important;
    --background-mentioned-hover: rgba(50, 53, 59, 1) !important;
}

.activityText-ev7Z1T, .customStatusText-3wj79x, .text-MPIeXO, .activityText-1rR-8O, .customStatus-1UAQAK {
    color: rgb(212, 175, 55) !important;
}

body, div, code {
    font-family: cursive !important;
}

.codeBlockLang-23YLvb {
    color: rgb(129 129 255) !important;
}

.hljs {
    background-color: rgb(32, 40, 53) !important;
    font-family: cursive !important;
    animation: Animation-Rainbow-Code 3s linear !important;
    animation-iteration-count: infinite !important;
}

@keyframes Animation-Rainbow-Code {
    100%, 0% {
        border-color: rgb(255,0,0);
        color: rgb(255,0,0);
    }
    8% {
        border-color: rgb(255,127,0);
        color: rgb(255,127,0);
    }
    16% {
        border-color: rgb(255,255,0);
        color: rgb(255,255,0);
    }
    25% {
        border-color: rgb(127,255,0);
        color: rgb(127,255,0);
    }
    33% {
        border-color: rgb(0,255,0);
        color: rgb(0,255,0);
    }
    41% {
        border-color: rgb(0,255,127);
        color: rgb(0,255,127);
    }
    50% {
        border-color: rgb(0,255,255);
        color: rgb(0,255,255);
    }
    58% {
        border-color: rgb(0,127,255);
        color: rgb(0,127,255);
    }
    66% {
        border-color: rgb(0,0,255);
        color: rgb(0,0,255);
    }
    75% {
        border-color: rgb(127,0,255);
        color: rgb(127,0,255);
    }
    83% {
        border-color: rgb(255,0,255);
        color: rgb(255,0,255);
    }
    91% {
        border-color: rgb(255,0,127);
        color: rgb(255,0,127);
    }
}